body{
    margin: 0;
    padding: 0;
    height: 100vh;
    width: 100%;
    font-size: 20px;
    background-image: url(assets/graceword.jpg);
}
.intro{
    position: relative;
    top: 350px;
    border-radius: 50%;
}
.back{
    border-radius: 25%;
    height: 100%;
    max-width: 100%;
    background-image: url(assets/graceword.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: 100% 100%;
    transition: opacity 2s ease-in-out;

    animation-name: bode;
    animation-timing-function: ease-in-out;
    animation-duration: 20s;
    animation-direction: alternate-reverse;
    animation-iteration-count: infinite;
    animation-fill-mode: forwards;
}
@keyframes bode {
    10%{background-image: url(assets/graces/G-MonDec2820.jpg);}
    20%{background-image: url(assets/graces/G-MonJul2621.jpg);}
    30%{background-image: url(assets/graces/G-tueSept2121.jpg);}
    40%{background-image: url(assets/graces/G-WedSept1521.jpg);}
    50%{background-image: url(assets/graces/G-WedAug1821.jpg);}
    60%{background-image: url(assets/graces/G-WedSept15210.jpg);}
    70%{background-image: url(assets/graces/G-ThuJan721.jpg);}
    80%{background-image: url(assets/graces/Brace.jpg);}
    90%{background-image: url(assets/graces/Isaacg.jpg);}
    100%{background-image: url(assets/graces/G-SatDec2620.jpg);}
    
}
.intro{
    height:100px;
    margin: 100px;
    width: auto;
    background-image: url(assets/gracegif0.gif);
    background-size: contain;
    border-color: tomato;
    text-align: center;
    color: blue;
}
#call{
    color: firebrick;
    padding-top: 10px;
    text-shadow: 3px 3px 3px blue;
    font-size: 30px;
}
a{
    background-color: rgb(23, 0, 128);
    border-radius: 25%;
    text-decoration: none;
    color: yellow;
}